<div class="board_container">
  <div class='board' *ngFor="let data of itemData; index as i">
      <canvas
            baseChart
            [datasets]="itemData[i]"
            [labels]="labels"
            [options]="lineChartOptionList[i]"
            [legend]="lineChartLegend"
            [chartType]="lineChartTypes[i]"
            [colors]="colors"
            [plugins]="lineChartPlugins"
          >
      </canvas>
  </div>
</div>

<div class="csv-container" *ngIf="this.checks.csvTable">
  <div class="btn">
    <button (click)="downloadCSV()">Download CSV File</button>
  </div>
  <div class="csv-data">
    <table>
      <tr>
        <th>timestamp</th>
        <th>drip_front_left</th>
        <th>drip_front_right</th>
        <th>drip_rear_left</th>
        <th>drip_rear_right</th>
        <th>dirp_symmetry_front</th>
        <th>drip_symmetry_rear</th>
        <th>drip_BPitch_front</th>
        <th>drip_BPitch_rear</th>
        <th>roof_pick_front</th>
        <th>roof_pick_rear</th>
      </tr>
      <tr *ngFor="let item of labels; index as i">
        <td>{{item}}</td>
        <td>{{csvSrcData.FLD[i]}}</td>
        <td>{{csvSrcData.FRD[i]}}</td>
        <td>{{csvSrcData.RLD[i]}}</td>
        <td>{{csvSrcData.RRD[i]}}</td>
        <td>{{csvSrcData.FSY[i]}}</td>
        <td>{{csvSrcData.RSY[i]}}</td>
        <td>{{csvSrcData.BF[i]}}</td>
        <td>{{csvSrcData.BR[i]}}</td>
        <td>{{csvSrcData.RPLFR[i]}}</td>
        <td>{{csvSrcData.RPLRE[i]}}</td>
      </tr>
    </table>
  </div>
</div>
