.container {
  min-height: 30rem;
  display: flex;
  align-self: center;
  justify-content: center;
}

.settings {
  margin: 0.5rem 0;
  width: 30%;

  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;

  &__item {
    margin-bottom: 3px;
  }
}
