<div class="container">

  <div class="bluePrint-container">
      <div class="bluePrint-container-left">
        <img class="bluePrint-container-left-img" src="../../assets/images/demo.png" alt="">
      </div>
      <div class="bluePrint-container-right">
        <img src="../../assets/images/config.png" alt="">
      </div>
  </div>

  <div class="settings-container">
    <div class="settings-container-column">
      <div class="settings-container__title">
        DRIP
      </div>
      <div class="settings-container__item">
        NOMINAL_FR_L = <input
          type="number"
          step=".01"
          [(ngModel)]="settings.nominal_FR_L"
          [value]="settings.nominal_FR_L"
          name="max"
        /> mm
      </div>
      <div class="settings-container__item">
        NOMINAL_FR_R = <input
          type="number"
          step=".01"
          [(ngModel)]="settings.nominal_FR_R"
          [value]="settings.nominal_FR_R"
          name="min"
        /> mm
      </div>
      <div class="settings-container__item">
        NOMINAL_RE_L = <input
          type="number"
          step=".01"
          [(ngModel)]="settings.nominal_RE_L"
          [value]="settings.nominal_RE_L"
          name="upper-bound"
        /> mm
      </div>
      <div class="settings-container__item">
        NOMINAL_RE_R = <input
          type="number"
          step=".01"
          [(ngModel)]="settings.nominal_RE_R"
          [value]="settings.nominal_RE_R"
          name="lower-bound"
        /> mm
      </div>
      <div class="settings-container__item">
        SAMPLE_POINTS = <input
          type="number"
          step="1"
          min="10"
          max="40"
          [(ngModel)]="settings.numOfPoints"
          [value]="settings.numOfPoints"
          name="points number"
        />
      </div>
      <div class="settings-container__item">
        MIN = <input
          type="number"
          step="1"
          min="10"
          max="40"
          [(ngModel)]="settings.dripMin"
          [value]="settings.dripMin"
          name="points number"
        /> mm
      </div>
      <div class="settings-container__item">
        MAX = <input
          type="number"
          step="1"
          min="10"
          max="40"
          [(ngModel)]="settings.dripMax"
          [value]="settings.dripMax"
          name="points number"
        /> mm
      </div>
      <div class="settings-container__item">
        GREEN_PERCENT = <input
          type="number"
          step="1"
          min="10"
          max="40"
          [(ngModel)]="settings.greenPercentDrip"
          [value]="settings.greenPercentDrip"
          name="points number"
        /> %
      </div>
      <div class="settings-container__item">
        RED_PERCENT = <input
          type="number"
          step="1"
          min="10"
          max="40"
          [(ngModel)]="settings.redPercentDrip"
          [value]="settings.redPercentDrip"
          name="points number"
        /> %
      </div>
    </div>

    <div class="settings-container-column">
      <div class="settings-container__title">
        DRIP SYMMETRY
      </div>
      <div class="settings-container__item">
        NOMINAL_FR = <input
          type="number"
          step=".01"
          [(ngModel)]="settings.dripSymNorFR"
          [value]="settings.dripSymNorFR"
          name="max"
        /> mm
      </div>
      <div class="settings-container__item">
        NOMINAL_FR = <input
          type="number"
          step=".01"
          [(ngModel)]="settings.dripSymNorRE"
          [value]="settings.dripSymNorRE"
          name="min"
        /> mm
      </div>
      <div class="settings-container__item">
        SAMPLE_POINTS = <input
          type="number"
          step="1"
          min="10"
          max="40"
          [(ngModel)]="settings.numOfPoints"
          [value]="settings.numOfPoints"
          name="points number"
        />
      </div>
      <div class="settings-container__item">
        MIN = <input
          type="number"
          step="1"
          min="10"
          max="40"
          [(ngModel)]="settings.dripSymMin"
          [value]="settings.dripSymMin"
          name="points number"
        /> mm
      </div>
      <div class="settings-container__item">
        MAX = <input
          type="number"
          step="1"
          min="10"
          max="40"
          [(ngModel)]="settings.dripSymMax"
          [value]="settings.dripSymMax"
          name="points number"
        /> mm
      </div>
      <div class="settings-container__item">
        GREEN_PERCENT = <input
          type="number"
          step="1"
          min="10"
          max="40"
          [(ngModel)]="settings.greenPercentDripSym"
          [value]="settings.greenPercentDripSym"
          name="points number"
        /> %
      </div>
      <div class="settings-container__item">
        RED_PERCENT = <input
          type="number"
          step="1"
          min="10"
          max="40"
          [(ngModel)]="settings.redPercentDrip"
          [value]="settings.redPercentDrip"
          name="points number"
        /> %
      </div>
    </div>

    <div class="settings-container-column">
      <div class="settings-container__title">
        B-PITCH
      </div>
      <div class="settings-container__item">
        NOMINAL_FR = <input
          type="number"
          step=".01"
          [(ngModel)]="settings.nominal_FR_BP"
          [value]="settings.nominal_FR_BP"
          name="max"
        /> mm
      </div>
      <div class="settings-container__item">
        NOMINAL_RE = <input
          type="number"
          step=".01"
          [(ngModel)]="settings.nominal_RE_BP"
          [value]="settings.nominal_RE_BP"
          name="min"
        /> mm
      </div>
      <div class="settings-container__item">
        SAMPLE_POINTS = <input
          type="number"
          step="1"
          min="10"
          max="40"
          [(ngModel)]="settings.numOfPoints"
          [value]="settings.numOfPoints"
          name="points number"
        />
      </div>
      <div class="settings-container__item">
        MIN = <input
          type="number"
          step="1"
          min="10"
          max="40"
          [(ngModel)]="settings.BPMin"
          [value]="settings.BPMin"
          name="points number"
        /> mm
      </div>
      <div class="settings-container__item">
        MAX = <input
          type="number"
          step="1"
          min="10"
          max="40"
          [(ngModel)]="settings.BPMax"
          [value]="settings.BPMax"
          name="points number"
        /> mm
      </div>
      <div class="settings-container__item">
        GREEN_PERCENT = <input
          type="number"
          step="1"
          min="10"
          max="40"
          [(ngModel)]="settings.greenPercentBP"
          [value]="settings.greenPercentBP"
          name="points number"
        /> %
      </div>
      <div class="settings-container__item">
        RED_PERCENT = <input
          type="number"
          step="1"
          min="10"
          max="40"
          [(ngModel)]="settings.redPercentBP"
          [value]="settings.redPercentBP"
          name="points number"
        /> %
      </div>
    </div>

    <div class="settings-container-column">
      <div class="settings-container__title">
        ROOF PICK LOCATION
      </div>
      <div class="settings-container__item">
        NOMINAL_FR = <input
          type="number"
          step=".01"
          [(ngModel)]="settings.nominal_FR_RP"
          [value]="settings.nominal_FR_RP"
          name="max"
        /> mm
      </div>
      <div class="settings-container__item">
        NOMINAL_RE = <input
          type="number"
          step=".01"
          [(ngModel)]="settings.nominal_RE_RP"
          [value]="settings.nominal_RE_RP"
          name="min"
        /> mm
      </div>

      <div class="settings-container__item">
        SAMPLE_POINTS = <input
          type="number"
          step="1"
          min="10"
          max="40"
          [(ngModel)]="settings.numOfPoints"
          [value]="settings.numOfPoints"
          name="points number"
        />
      </div>
      <div class="settings-container__item">
        MIN = <input
          type="number"
          step="1"
          min="10"
          max="40"
          [(ngModel)]="settings.RPMin"
          [value]="settings.RPMin"
          name="points number"
        /> mm
      </div>
      <div class="settings-container__item">
        MAX = <input
          type="number"
          step="1"
          min="10"
          max="40"
          [(ngModel)]="settings.RPMax"
          [value]="settings.RPMax"
          name="points number"
        /> mm
      </div>
      <div class="settings-container__item">
        GREEN_PERCENT = <input
          type="number"
          step="1"
          min="10"
          max="40"
          [(ngModel)]="settings.greenPercentRP"
          [value]="settings.greenPercentRP"
          name="points number"
        /> %
      </div>
      <div class="settings-container__item">
        RED_PERCENT = <input
          type="number"
          step="1"
          min="10"
          max="40"
          [(ngModel)]="settings.redPercentRP"
          [value]="settings.redPercentRP"
          name="points number"
        /> %
      </div>
    </div>
  </div>

  <div class="period-container">
    <div class="periodData">
      Storage Period (days) <input type="number" step = "1" [(ngModel)]="settings.period" [value]="settings.period" name="period" />
    </div>
  </div>

  <div class="btn-container">
    <button class="btn-container__btn" (click)="update()">
      Update
    </button>
  </div>
</div>
