.container {
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bluePrint-container {
  width: 80%;
  min-height: 35vh;
  display: flex;
  flex-direction: row;

  &-left {
    width: 60%;
    height: 100%;
    margin: 5rem 0 5rem 5%;

    &-img {
      width: 100%;
      height: auto;
      margin: auto;
    }
  }

  &-right {
    width: 35%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &-img {
      width: 100%;
      height: auto;
      margin: auto;
    }
  }
}

.bluePrint-container-left {
  width: 65%;
  height: 100%;
}

.settings-container {
  width: 90%;
  margin: auto;
  min-height: 30vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &-column {
    width: 23%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  &__title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
    height: 3rem;
  }

  &__item {
    margin-bottom: 5px;
  }
}

.period-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__periodData {
    height: 1rem;
  }
}

.btn-container {
  margin: 1.5rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__btn {
    width: 7rem;
    height: 2rem;
    transition: all .3s ease;

    &:hover {
      cursor: pointer;
      background-color: rgba(42, 102, 42, .6);
    }

    &:active {
      transform: scale(1.1);
    }
  }
}
