<div class="list">
  <br>
  <h1 class='theme'>Generate Custom Charts</h1>
  <br>
  <ul>
      <li class='li-large'>Start Date: <input class="timeinput" [(ngModel)]="startDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
          <owl-date-time #dt1></owl-date-time>

      </li>
      <li class='li-large'>End Date: <input class="timeinput2" [(ngModel)]="endDate" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Date Time">
          <owl-date-time #dt2></owl-date-time>

      </li>
      <div>

        Charts Type:

      </div>
          <li *ngFor="let drip of Info.drip; let key=index">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="checkbox" [id]="'dripcheck'+key" [(ngModel)]="checkArr[key]"><label [for]="'dripcheck'+key"> {{drip.title}}: {{drip.exp}}  </label>
              &nbsp;&nbsp;
          </li>


      <li *ngFor="let dripsym of Info.dripsymmatry; let key=index">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

              <input type="checkbox" [id]="'check'+key" [(ngModel)]="checkArr[key+4]"><label [for]="'check'+key">{{dripsym.title}}: {{dripsym.exp}}  </label>
              &nbsp;&nbsp;


      </li>
      <li *ngFor="let bp of Info.bpitch; let key=index">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

              <input type="checkbox" [id]="'bpcheck'+key" [(ngModel)]="checkArr[key+6]"><label [for]="'bpcheck'+key">{{bp.title}}: {{bp.exp}}  </label>
              &nbsp;&nbsp;


      </li>
      <li *ngFor="let rpl of Info.roofpicklocation; let key=index">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

              <input type="checkbox" [id]="'rplcheck'+key" [(ngModel)]="checkArr[key+8]"><label [for]="'rplcheck'+key">{{rpl.title}}: {{rpl.exp}}  </label>
              &nbsp;&nbsp;


      </li>
  </ul>
  <br>
<button (click)="gostcharts()">Generate the charts</button>


  <!-- <pre>
      {{Info |json}}
  </pre> -->
</div>






